@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins:wght@500&family=Roboto&display=swap');

:root{
    --main-bg-color:#2874f0;
}

.flex-all-center{
   display: flex;
   align-items: center;/*Vertical Axis*/
   justify-content: center;/*Horizontal Axis*/
}
.btn{
    padding: 5px 5px;
    color: white;
    background-color:var(--main-bg-color);
    border-radius: 3px;
    border: 2px solid white;
    cursor: pointer;
    font-family: 'Lato', sans-serif;
}
.btn:hover{
    font-weight: bolder;
}

.my-1{
    margin: 5px 0;
}

.my-2{
    margin: 26px 0;
}
.text-center{
    text-align: center;
}